
<div class="edit-container">
    <a href="/places" class="back-edit">Back</a>
  
  <h2>Edit Place</h2>
  <hr />

 

    <div class="form-edit"> 
    

      <div class="form-edit-fields">
  <form action="/places/{{id}}" method="POST">
    <label>
      Name:
      <input type="text" name="name" value="{{name}}" />

    </label>

    <label>
      Type:
      <input type="text" name="type" value="{{type}}" />

    </label>

    <label>
      Adress:
      <input type="text" name="lat" value="{{location.coordinates.[0]}}" />
      <input type="text" name="lng" value="{{location.coordinates.[1]}}"/>

    </label>
    <input type="submit" class="submit" />

  </form>
  </div>
  </div>
  </div>
  
